# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Bun
bun.lockb
bun-debug.log*

# TypeScript
*.tsbuildinfo
out/

# React
build/
.next/
.vercel/
.parcel-cache/
public/static/